@import 'office-ui-fabric-react/dist/scss/_Fabric.Common.scss';

.ms-NavExample-LeftPane {
  width: 207px;
  height: 400px;
  box-sizing: border-box;
  @include border-right(1px, solid, #EEE);
  overflow-y: auto;
}
